foreground: &foreground "{{ .appearance.foreground }}"
background: &background "{{ .appearance.background }}"
selection: &selection "{{ .appearance.selection }}"
comment: &comment "#565f89"
red: &red "{{ index .appearance.ansi 1 }}"
green: &green "{{ index .appearance.ansi 2 }}"
yellow: &yellow "{{ index .appearance.ansi 3 }}"
blue: &blue "{{ index .appearance.ansi 4 }}"
magenta: &magenta "{{ index .appearance.ansi 5 }}"
cyan: &cyan "{{ index .appearance.ansi 6 }}"
white: &white "{{ index .appearance.ansi 7 }}"

k9s:
  body:
    fgColor: *foreground
    bgColor: *background
    logoColor: *blue
  prompt:
    fgColor: *foreground
    bgColor: *background
    suggestColor: *yellow
  info:
    fgColor: *magenta
    sectionColor: *foreground
  dialog:
    fgColor: *foreground
    bgColor: *background
    buttonFgColor: *background
    buttonBgColor: *blue
    buttonFocusFgColor: *background
    buttonFocusBgColor: *cyan
    labelFgColor: *yellow
    fieldFgColor: *foreground
  frame:
    border:
      fgColor: *selection
      focusColor: *blue
    menu:
      fgColor: *foreground
      keyColor: *magenta
      numKeyColor: *cyan
    crumbs:
      fgColor: *foreground
      bgColor: *selection
      activeColor: *blue
    status:
      newColor: *cyan
      modifyColor: *blue
      addColor: *green
      errorColor: *red
      highlightColor: *yellow
      killColor: *comment
      completedColor: *comment
    title:
      fgColor: *foreground
      bgColor: *background
      highlightColor: *yellow
      counterColor: *magenta
      filterColor: *cyan
  views:
    charts:
      bgColor: *background
      defaultDialColors:
        - *blue
        - *red
      defaultChartColors:
        - *blue
        - *red
    table:
      fgColor: *foreground
      bgColor: *background
      cursorFgColor: *background
      cursorBgColor: *blue
      markColor: *yellow
      header:
        fgColor: *foreground
        bgColor: *background
        sorterColor: *cyan
    xray:
      fgColor: *foreground
      bgColor: *background
      cursorColor: *selection
      graphicColor: *blue
      showIcons: false
    yaml:
      keyColor: *magenta
      colonColor: *blue
      valueColor: *foreground
    logs:
      fgColor: *foreground
      bgColor: *background
      indicator:
        fgColor: *foreground
        bgColor: default
        toggleOnColor: *green
        toggleOffColor: *comment
    help:
      fgColor: *foreground
      bgColor: *background
      keyColor: *magenta
      numKeyColor: *cyan
      sectionColor: *blue
