{{- $host := index .hosts .chezmoi.hostname -}}
# Font
font-family = {{ .appearance.font_family }}
font-size = {{ $host.font_size }}

# Cursor
cursor-style-blink = false

# Window
window-height = {{ $host.ghostty.window_height }}
window-width = {{ $host.ghostty.window_width }}
window-padding-balance = true
working-directory = {{ .chezmoi.homeDir }}/Dev
window-inherit-working-directory = true

# Theme
theme = {{ .appearance.ghostty_theme }}

# MacOS
macos-titlebar-style = transparent
macos-titlebar-proxy-icon = hidden
macos-auto-secure-input = true
