{{- $fontSize := 0 }}
{{- $windowHeight := 0 }}
{{- $windowWidth := 0 }}
{{- $workingDirectory := "" }}
{{- if eq .chezmoi.hostname "Jacobs-MacBook-Air" }}
{{-   $fontSize = 14 }}
{{-   $windowHeight = 20 }}
{{-   $windowWidth = 110 }}
{{-   $workingDirectory = "/Users/jacob/Dev" }}
{{- else if eq .chezmoi.hostname "Pulsar-MacBook-Pro" }}
{{-   $fontSize = 16 }}
{{-   $windowHeight = 30 }}
{{-   $windowWidth = 154 }}
{{-   $workingDirectory = "/Users/jacobdrury/Dev" }}
{{- else }}
{{-   fail (printf "unknown hostname %q — add ghostty settings for it in config.tmpl" .chezmoi.hostname) }}
{{- end -}}
# Font
font-size = {{ $fontSize }}

# Cursor
cursor-style-blink = false

# Window
window-height = {{ $windowHeight }}
window-width = {{ $windowWidth }}
window-padding-balance = true
working-directory = {{ $workingDirectory }}
window-inherit-working-directory = true

# Theme
theme = tokyonight

# MacOS
macos-titlebar-style = transparent
macos-titlebar-proxy-icon = hidden
macos-auto-secure-input = true
